# Use a global .gitignore to exclude system files
# git config --global core.excludesfile ~/.gitignore

coverage-integration/
node_modules/
test-reports/
coverage/
*.log
/.idea/
.vscode/
.DS_Store
tsdoc-metadata.json
**/*.api.md